<app-bas-page-header
    title="IT"
    [actions]="actions"
    [routes]="bercumberRoutes"
></app-bas-page-header>

<div class="row justify-content-center">
    <div
        class="col-xl-3 col-lg-4 col-md-12"
        *ngFor="let element of arrayLinks"
    >
        <a *ngIf="element.type == 'href'" [href]="element.router">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">{{element.name|dic}}</span>
                            </h2>
                        </div>
                        <div class="col-4">
                            <img
                                [height]="'100'"
                                [src]="element.logo"
                                [alt]="element.name"
                            >
                       
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a *ngIf="element.type == 'router'" [routerLink]="element.router" [queryParams]="element.query">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">{{element.name|dic}}</span>
                            </h2>
                        </div>
                        <div class="col-4">
                            <img
                                [height]="'100'"
                                [src]="element.logo"
                                [alt]="element.name"
                            >
         
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
  