*{
    text-align: center;
}



.application{
    text-align: center; width: 140px; height: 140px;  aspect-ratio: 1; padding: 10px; background-color: var(--AppSwitcherIcon-background, white);  object-fit: cover;
}