<app-bas-page-header [title]="'Yearly KPI'" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>


<div>

  <div>

    <div class="  narrower mt-2">

      <div class="card">
        <div class="card-header">
          {{'Yearly KPI'|dic}}
        </div>
        <div class="card-body">

          <!-- <h4 class="no_print">{{'Filters'|dic}}</h4> -->
          <form>

            <div class="form-row no_print">
              <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Year'|dic}} </label>
                  <ng-select class="form-control custom-select " [disabled]="DataIsLoading" placeholder="{{'Year'|dic}}" [outline]="true" [multiple]="false" name="years" [(ngModel)]="p.year" (change)="search($event)">
                    <ng-option *ngFor="let option of yearsOption" [value]="option.value">{{ option.label}}</ng-option>
                  </ng-select>
                </div>
              </div>
         
            </div>
          </form>

          <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
          <div class="row mt-3"  *ngIf="!DataIsLoading">
         
            <table  class="table mb-0 text-center text-nowrap">
              <thead >
                <tr   class="">
                  <th  class=" font-weight-semibold fs-14">{{'Unit'|dic}}</th>
                  <th  class=" font-weight-semibold fs-14">{{'KPI type'|dic}}</th>
                  <th  class=" font-weight-semibold fs-14">{{'Required'|dic}}</th>
                  <th  class=" font-weight-semibold fs-14">{{'Result in 100'|dic}}</th>
                  <!-- <th  class=" font-weight-semibold fs-14">{{'Mark'|dic}}</th> -->
                  <th  class=" font-weight-semibold fs-14">{{'Result'|dic}}</th>
                </tr>
              </thead>
              <tbody >
                <tr  class="border-bottom" *ngFor="let el of kpi.warehouse_control.kpis;let i =index">
                  <td  class="" *ngIf="i==0" style="vertical-align: middle;" [attr.rowspan]="kpi.warehouse_control.kpis.length">
                    <span >{{el.unit|dic}}</span>
                  </td>
                  <td  class="font-weight-semibold fs-14">{{el.name}}</td>
                  <td  class="">{{el.days ?(el.days|number:'1.0-2'):''}} {{el?.data?.required_type|dic}}</td>
                    <td  class="">
                    <span [ngClass]="{'bg-success-transparent':el?.data?.result_in_100 >= 50,'bg-danger-transparent':el?.data?.result_in_100 < 50}">
                      {{el?.data?.result_in_100|number:'1.0-2'}}
                    </span>
                  </td>
                  <td class="">
                    <span class="badge" [ngClass]="{'bg-success-transparent':el?.data?.result >= (el.mark/2),'bg-danger-transparent':el?.data?.result < (el.mark/2)}">{{el?.data?.result|number:'1.0-2'}}</span> / {{(el.mark)}}
                  </td>
                </tr>
                <tr *ngIf="kpi.warehouse_control?.total_marks"  class="border-bottom bg-{{kpi.warehouse_control?.collected_mark >= (kpi.warehouse_control?.total_marks/2)?'success':'warning'}}" >
                  <td  class="font-weight-semibold fs-14">{{'Average'|dic}}</td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <!-- <td  class="">{{kpi.warehouse_control?.total_marks|number:'1.0-2'}}</td> -->
                  <!-- <td  class="">{{kpi.warehouse_control?.collected_mark|number:'1.0-2'}}</td> -->
                  <td class="">
                    <span class="badge_result"  >{{kpi.warehouse_control?.collected_mark|number:'1.0-2'}}</span> / {{kpi.warehouse_control?.total_marks|number:'1.0-2'}}
                  </td>  
                </tr>
                <tr  class="border-bottom" *ngFor="let el of kpi.visit_and_check.kpis;let i =index">
                  <td  class="" *ngIf="i==0" style="vertical-align: middle;" [attr.rowspan]="kpi.visit_and_check.kpis.length">
                    <span *ngIf="i==0">{{el.unit|dic}}</span>
                  </td>
                  <td  class="font-weight-semibold fs-14">{{el.name}}</td>
                  <td  class="">{{el.days ?(el.days|number:'1.0-2'):''}} {{el?.data?.required_type|dic}}</td>
                  <td  class="">
                    <span [ngClass]="{'bg-success-transparent':el?.data?.result_in_100 >= 50,'bg-danger-transparent':el?.data?.result_in_100 < 50}">
                      {{el?.data?.result_in_100|number:'1.0-2'}}
                    </span>
                  </td>
                  <td class="">
                    <span class="badge" [ngClass]="{'bg-success-transparent':el?.data?.result >= (el.mark/2),'bg-danger-transparent':el?.data?.result < (el.mark/2)}">{{el?.data?.result|number:'1.0-2'}}</span> / {{(el.mark)}}
                  </td>       
                </tr>
                <tr *ngIf="kpi.visit_and_check?.total_marks" class="border-bottom bg-{{kpi.visit_and_check?.collected_mark >= (kpi.visit_and_check?.total_marks/2)?'success':'warning'}}"   >
                  <td  class="font-weight-semibold fs-14">{{'Average'|dic}}</td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td class="">
                    <span class="badge_result"  >{{kpi.visit_and_check?.collected_mark|number:'1.0-2'}}</span> / {{kpi.visit_and_check?.total_marks|number:'1.0-2'}}
                  </td>  
                </tr>
              
                <tr  class="border-bottom bg-{{((kpi.warehouse_control?.collected_mark+ kpi.visit_and_check?.collected_mark)/2) >= ((kpi.warehouse_control?.total_marks+ kpi.visit_and_check?.total_marks)/2)/2?'success':'warning'}}"  >
                  <td  class=" font-weight-semibold fs-14" colspan="1">{{'Warehouse department average mark'|dic}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class=""  >
                    <span class="badge_result" 
                    >
                      {{(kpi.warehouse_control?.collected_mark+ kpi.visit_and_check?.collected_mark)/2|number:'1.0-2'}}</span> / {{(kpi.warehouse_control?.total_marks+ kpi.visit_and_check?.total_marks)/2|number:'1.0-2'}}
                  </td>   
                </tr>
                <br> 




                <tr  class="border-bottom" *ngFor="let el of kpi.purchase_internal_unit.kpis;let i =index">
                  <td  class="" *ngIf="i==0" style="vertical-align: middle;" [attr.rowspan]="kpi.purchase_internal_unit.kpis.length">
                    <span *ngIf="i==0">{{el.unit|dic}}</span>
                  </td>
                  <td  class="font-weight-semibold fs-14">{{el.name}}</td>
                  <td  class="">{{el.days ?(el.days|number:'1.0-2'):''}} {{el?.data?.required_type|dic}}</td>
                    <td  class="">
                    <span [ngClass]="{'bg-success-transparent':el?.data?.result_in_100 >= 50,'bg-danger-transparent':el?.data?.result_in_100 < 50}">
                      {{el?.data?.result_in_100|number:'1.0-2'}}
                    </span>
                  </td>
                  <td class="">
                    <span class="badge" [ngClass]="{'bg-success-transparent':el?.data?.result >= (el.mark/2),'bg-danger-transparent':el?.data?.result < (el.mark/2)}">{{el?.data?.result|number:'1.0-2'}}</span> / {{(el.mark)}}
                  </td>        
                </tr>

                <tr   *ngIf="kpi.purchase_internal_unit?.total_marks" class="border-bottom bg-{{kpi.purchase_internal_unit?.collected_mark >= (kpi.purchase_internal_unit?.total_marks/2)?'success':'warning'}}"  >
                  <td  class="font-weight-semibold fs-14">{{'Average'|dic}}</td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td class="">
                    <span class="badge_result"  >{{kpi.purchase_internal_unit?.collected_mark|number:'1.0-2'}}</span> / {{kpi.purchase_internal_unit?.total_marks|number:'1.0-2'}}
                  </td>  
                </tr>


                <tr  class="border-bottom" *ngFor="let el of kpi.purchase_external_unit.kpis;let i =index">
                  <td  class="" *ngIf="i==0" style="vertical-align: middle;" [attr.rowspan]="kpi.purchase_external_unit.kpis.length">
                    <span *ngIf="i==0">{{el.unit|dic}}</span>
                  </td>
                  <td  class="font-weight-semibold fs-14">{{el.name}}</td>
                  <td  class="">{{el.days ?(el.days|number:'1.0-2'):''}} {{el?.data?.required_type|dic}}</td>
                    <td  class="">
                    <span [ngClass]="{'bg-success-transparent':el?.data?.result_in_100 >= 50,'bg-danger-transparent':el?.data?.result_in_100 < 50}">
                      {{el?.data?.result_in_100|number:'1.0-2'}}
                    </span>
                  </td>
                  <td class="">
                    <span class="badge" [ngClass]="{'bg-success-transparent':el?.data?.result >= (el.mark/2),'bg-danger-transparent':el?.data?.result < (el.mark/2)}">{{el?.data?.result|number:'1.0-2'}}</span> / {{(el.mark)}}
                  </td>        
                </tr>
                <tr  *ngIf="kpi.purchase_external_unit?.total_marks"  class="border-bottom bg-{{kpi.purchase_external_unit?.collected_mark >= (kpi.purchase_external_unit?.total_marks/2)?'success':'warning'}}"  >
                  <td  class="font-weight-semibold fs-14">{{'Average'|dic}}</td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td class="">
                    <span class="badge_result" >{{kpi.purchase_external_unit?.collected_mark|number:'1.0-2'}}</span> / {{kpi.purchase_external_unit?.total_marks|number:'1.0-2'}}
                  </td>   
                </tr>


                <tr  class="border-bottom  bg-{{((kpi.purchase_external_unit?.collected_mark + kpi.purchase_internal_unit?.collected_mark)/2) >= ((kpi.purchase_external_unit?.total_marks + kpi.purchase_internal_unit?.total_marks)/2)/2?'success':'warning'}}"  >
                  <td  class=" font-weight-semibold fs-14" colspan="1">{{'Purchase department average mark'|dic}}</td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td  class=""> </td>
                  <td class="" colspan="1">
                    <span class="badge_result" 
      >
                      {{(kpi.purchase_external_unit?.collected_mark + kpi.purchase_internal_unit?.collected_mark)/2|number:'1.0-2'}}</span> / {{(kpi.purchase_external_unit?.total_marks + kpi.purchase_internal_unit?.total_marks)/2|number:'1.0-2'}}
                  </td>   
                </tr>
                <hr>
                <tr  class="border-bottom bg-{{((kpi.warehouse_control?.collected_mark+ kpi.visit_and_check?.collected_mark+kpi.purchase_external_unit?.collected_mark + kpi.purchase_internal_unit?.collected_mark)/4) >= ((kpi.warehouse_control?.total_marks+ kpi.visit_and_check?.total_marks+kpi.purchase_external_unit?.total_marks + kpi.purchase_internal_unit?.total_marks)/4)/2?'success':'warning'}}"  >
                  <td  class="text-center font-weight-semibold fs-14" colspan="2">{{'Supplychain average mark'|dic}}</td>
                  <td class="text-center" colspan="3">
                    <span class="badge_result" >
                      {{(kpi.warehouse_control?.collected_mark+ kpi.visit_and_check?.collected_mark+kpi.purchase_external_unit?.collected_mark + kpi.purchase_internal_unit?.collected_mark)/4|number:'1.0-2'}}</span> / {{(kpi.warehouse_control?.total_marks+ kpi.visit_and_check?.total_marks+kpi.purchase_external_unit?.total_marks + kpi.purchase_internal_unit?.total_marks)/4|number:'1.0-2'}}
                  </td>   
                </tr>
              
              </tbody>
            </table>

          </div>
          <br />
 