<div class="page-header d-lg-flex d-block pb-0 mb-6 mb-lg-0">
    <div class="page-leftheader">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mb-0 p-0">
                    <li *ngFor="let route of routes" class="breadcrumb-item">
                        <a  [routerLink]="route.route" [queryParams]="route.queryParams"><i [class]="route.icon" aria-hidden="true"></i> {{route.name|dic}}</a>
                    </li>
                    
                    <li class="breadcrumb-item active">{{title|dic}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class=" btn-list d-flex">
            <div *ngFor="let element of actions" class="me-2">
            <a *ngIf="element.part != 'dropdown'" [ngClass]="element.class" placement="top" [routerLink]="element.url" [queryParams]="element.qp" [ngbTooltip]="element.ngbTooltip" [target]="element?.target?? ''">
                <i class="me-2 fs-15" [ngClass]="element.icon"></i> {{element.text??''}}
            </a>
            <div  *ngIf="element?.part == 'dropdown' && element?.end_point == 'voucher_groups'" class="form-group">
                <label for="heroId" class="form-label">{{element.ngbTooltip}}</label>
                <ng-select class="form-control custom-select" appearance="outline" (change)="goTo(element.url,$event)"  [searchable]="true" [clearable]="false" labelForId="heroId" >
                    <ng-option *ngFor="let el of voucherGroups" [value]="el._id">
                        {{el._id}}
                    </ng-option>
                </ng-select>
            </div>
           </div>
        </div>
    </div>
</div>