.checkbox_group {
    display: grid;
    justify-content: start;
    justify-items: start;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 200px;
    margin: 50px;
    text-align: center;
    font-size: 20px;
}


nz-input-group{
    width: 300px;
}