<app-bas-page-header [title]="'Roles'" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>
 


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{'Update role'|dic}} </h3>
            </div>
            <div class="card-body pb-2">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-2 form-label">{{'Name'|dic}}</label>
                        <div class="col-md-5">
                            <input type="text" [(ngModel)]="roleData.name" name="name"  class="form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 form-label">{{'Description'|dic}}</label>
                        <div class="col-md-5">
                            <textarea class="form-control mb-4" [(ngModel)]="roleData.description" name="description" placeholder="Textarea" rows="3"></textarea>
                        </div>
                    </div>
                </form>
         
                <div class="flex-container">
                    <div *ngFor="let item of roles;let i = index">
                    <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                        <label class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="item.allChecked" [checked]="item.allChecked" (change)="updateAllChecked(item,$event)" [name]="'example-checkbox1'+i"  >
                            <span class="custom-control-label">{{item.head|dic}}</span>
                        </label>
                
                    </div>
                    <hr />
                    <label class="custom-control custom-checkbox" *ngFor="let element of item.options;let j = index">
                        <input type="checkbox" class="custom-control-input"  [(ngModel)]="item.options[j].checked" [checked]="element.checked"  [name]="'example-checkbox1'+i+j">
                        <span class="custom-control-label">{{element.label|dic}}</span>
                    </label>

                    </div>
                </div>
                <div >
                    <a  (click)="updateRole()" class="btn btn-info">{{'Update'|dic}}</a>
                </div>
            </div>
        </div>