<app-bas-page-header [title]="'Visit report'" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>


<div>

  <div>

    <div class="  narrower mt-2">

      <div class="card">
        <div class="card-body">

          <h4>{{'Filters'|dic}}</h4>
          <form>

            <div class="form-row ">
              <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Year'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Year'|dic}}" [outline]="true" [multiple]="false" name="years" [(ngModel)]="p.year" (change)="search($event)">
                    <!-- <ng-option [value]="'2018'">{{ '2018'}}</ng-option>
                    <ng-option [value]="'2019'">{{ '2019'}}</ng-option>
                    <ng-option [value]="'2020'">{{ '2020'}}</ng-option>
                    <ng-option [value]="'2021'">{{ '2021'}}</ng-option>
                    <ng-option [value]="'2022'">{{ '2022'}}</ng-option> -->
                    <ng-option [value]="'2023'">{{ '2023'}}</ng-option>
                    <ng-option [value]="'2024'">{{ '2024'}}</ng-option>
                    <ng-option [value]="'2025'">{{ '2025'}}</ng-option>
                    <ng-option [value]="'2026'">{{ '2026'}}</ng-option>
                    <ng-option [value]="'2027'">{{ '2027'}}</ng-option>
                    <ng-option [value]="'2028'">{{ '2028'}}</ng-option>
                    <ng-option [value]="'2029'">{{ '2029'}}</ng-option>
                    <ng-option [value]="'2030'">{{ '2030'}}</ng-option>
                  </ng-select>
                </div>
              </div>



              <!-- <div class="form-group col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'IT staff(s)'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose it staff'|dic}}" [multiple]="false" name="staff_ids" [(ngModel)]="p.staff_id" (change)="searchStaff($event)">
                    <ng-option *ngFor="let option of it_staffs" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Unit'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Unit'|dic}}" [outline]="true" [multiple]="false" name="units" [(ngModel)]="p.unit" (change)="searchUnit($event)">
                    <ng-option [value]="'Department manager'">{{ 'Department manager'|dic}}</ng-option>
                    <ng-option [value]="'User Support and Service'">{{ 'User Support and Service'|dic}}</ng-option>
                    <ng-option [value]="'CCTV Technical Services'">{{ 'CCTV Technical Services'|dic}}</ng-option>
                    <ng-option [value]="'System Development'">{{ 'System Development'|dic}}</ng-option>
                    <ng-option [value]="'Network Service'">{{ 'Network Service'|dic}}</ng-option>
                    <ng-option [value]="'System Service'">{{ 'System Service'|dic}}</ng-option>
                    <ng-option [value]="'IT HTS Sulaimanyah'">{{ 'IT HTS Sulaimanyah'|dic}}</ng-option>
                    <ng-option [value]="'IT HTS Dyala'">{{ 'IT HTS Dyala'|dic}}</ng-option>
                    <ng-option [value]="'IT HTS Kirkuk'">{{ 'IT HTS Kirkuk'|dic}}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="form-group col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'IT staff(s)'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose it staff'|dic}}" [multiple]="false" name="staff_ids" [(ngModel)]="p.staff_id" (change)="searchStaff($event)">
                    <ng-option *ngFor="let option of it_staffs" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->

              <!-- <div class="form-group col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Company(s)'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose company'|dic}}" [multiple]="true" name="feild" [(ngModel)]="model.companies" (change)="changeCompany($event)">
                    <ng-option *ngFor="let option of dataCompany" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->

              <!-- <div class="form-group col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Location(s)'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose location'|dic}}" [multiple]="true" name="feild_type" [(ngModel)]="model.locations">
                    <ng-option *ngFor="let option of dataLocation" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->

              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'IT field(s)'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose IT field'|dic}}" [outline]="true" [multiple]="true" name="type" (ngModelChange)="changeFeild($event)"
                    style="text-align: center;" [(ngModel)]="model.it_fields">
                    <ng-option *ngFor="let option of dataIT_Feilds" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Field type(s)'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose field type'|dic}}" [outline]="true" [multiple]="true" name="type" style="text-align: center;"
                    [(ngModel)]="model.field_types">
                    <ng-option *ngFor="let option of dataFeildTypes" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Ticket type'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose ticket type'|dic}}" [outline]="true" [multiple]="true" name="type" style="text-align: center;"
                    [(ngModel)]="model.ticket_types">
                    <ng-option *ngFor="let option of ticketTypes" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Request'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose request'|dic}}" [outline]="true" [multiple]="true" name="type" style="text-align: center;"
                    [(ngModel)]="model.requests">
                    <ng-option *ngFor="let option of requestTypes" [value]="option.value">{{ option.label|dic }}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Job type'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose job type'|dic}}" [outline]="true" [multiple]="true" name="type" style="text-align: center;"
                    [(ngModel)]="model.job_types">
                    <ng-option *ngFor="let option of jobTypes" [value]="option.value">{{ option.label|dic }}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'From date'|dic}}</label>
                  <input type="date" class="form-control" [(ngModel)]="model.from" [ngModelOptions]="{standalone: true}">
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'To date'|dic}}</label>
                  <input type="date" class="form-control" [(ngModel)]="model.to" [ngModelOptions]="{standalone: true}">
                </div>
              </div> -->




              <!-- <div class="col-md-1">


                <a (click)="search()" class=" btn btn-success mt-5">
                  <i class="fa fa-search"></i>
                </a>
              </div> -->
            </div>
          </form>

          <br />

          <div class="row">
            <div class="col-12 col-xl-6 order-xl-last">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">
                    {{'Total visit for companies'|dic}}
                  </div>
                </div>
                <div class="card-body">
                  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionVisitPercentage" style="width: 100%; height: 700px; display: block;"></highcharts-chart>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6 order-xl-first">
              <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
              <table class="table table-hover table-striped table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
                <thead style="z-index: 1;">
                  <tr>
                    <th style="cursor: pointer" scope="col">
                      {{ '#' }}
                    </th>
                    <th>
                      {{'Company name'|dic}}
                    </th>
                    <th>
                      {{'Location name'|dic}}
                    </th>

                    <th>
                      {{'Visit number(s)'|dic}}
                    </th>
                    <th>
                      {{'Percentage'|dic}}
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let el of data_detail; let i = index" style="cursor: pointer">
                    <td>{{ (i+1)}}</td>
                    <td>
                      {{ el.company }}
                    </td>
                    <td>
                      {{ el.location }}
                    </td>

                    <td>
                      {{el.data |number }}
                    </td>
                    <td class="black-text" style="font-weight: 600">
                      %{{el.y | number:'1.1-2'}}
                    </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr style="cursor: pointer">
                    <td colspan="3">
                      {{'Total'|dic}}
                    </td>
                    <td>
                      {{total_data | number}}
                    </td>
                    <td>
                      %{{100| number:'1.1-1' }}
                    </td>


                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>