<app-bas-page-header [title]="'Performance'" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>


<div>

  <div>

    <div class="  narrower mt-2">

      <div class="card">
        <div class="card-body">

          <h4 class="no_print">{{'Filters'|dic}}</h4>
          <form>

            <div class="form-row no_print">
              <div class="col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Year'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Year'|dic}}" [outline]="true" [multiple]="false" name="years" [(ngModel)]="p.year" (change)="searchYear($event)">
                    <ng-option *ngFor="let option of yearsOption" [value]="option.value">{{ option.label}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="md-form md-outline ml-0 mr-0">
                  <label class="form-label">{{'Employee'|dic}} </label>
                  <ng-select class="form-control custom-select " placeholder="{{'Choose staff'|dic}}" [multiple]="false" name="staff_ids" [(ngModel)]="p.staff_id" (change)="searchStaff($event)">
                    <ng-option *ngFor="let option of it_staffs" [value]="option.value">{{ option.label }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="md-form md-outline mt-5 ml-0 mr-0">
                  <button type="button" class="btn btn-danger me-2" *ngIf="p.staff_id" (click)="back()">
                    {{'Back'|dic}} <i class="fa fa-backward"></i>
                  </button>

                </div>
              </div>




            </div>
          </form>

          <div class="row mt-3" *ngIf="!p.staff_id">
            <h6> {{'Total work per unit'|dic}} </h6>
            <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
            <table class="table table-striped table-hover table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
              <thead>
                <tr>
                  <th style="cursor: pointer" scope="col">{{ '#' }}</th>
                  <th>{{'Unit'|dic}}</th>
                  <th>{{'Timeoff'|dic}}</th>
                  <th>{{'Tickets'|dic}}</th>
                  <th>{{'Daily form'|dic}}</th>
                  <th>{{'Visits'|dic}}</th>
                  <th>{{'Work and activities'|dic}}</th>
                  <th>{{'Employees'|dic}}</th>
                  <th>{{'Work day(s)'|dic}}</th>
                  <th>{{'Total hour(s)'|dic}}</th>
                  <th>{{'Percentage'|dic}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let el of unit_kpi; let i = index" style="cursor: pointer">
                  <td>{{ (i+1)}}</td>
                  <td>{{ lang == 'ku'? el.unit_id?.name:el.unit_id?.en_name}}</td>
                  <td>{{ el.timeoffs |number:'1.1-1'}} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.tickets |number:'1.1-1'}} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.daily_form |number:'1.1-1'}} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.visits|number:'1.1-1'}} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.activity|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.employees |number}}</td>
                  <td>{{ 365 - el.calendars - ((el.timeoffs/8)/el.employees) |number:'1.1-1'}}</td>
                  <td>{{ el.total|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td [ngClass]="{'text-warning':el.percentage<6.5 && el.percentage>= 6,
                                                                                                                                                                      'text-green':el.percentage < 6, 'text-danger' :el.percentage>=6.5
                                                                                                                                                                        }">{{ el.percentage|number:'1.1-1' }}
                    {{'Hour(s)'|dic}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr style="cursor: pointer">
                  <td colspan="2">{{'Total'|dic}}</td>
                  <td>{{sum('timeoffs',unit_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('tickets',unit_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('daily_form',unit_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('visits',unit_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('activity',unit_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('employees',unit_kpi)|number:'1.0-0'}}</td>
                  <td>{{sum('work_in_year',unit_kpi)|number:'1.0-0'}}</td>
                  <td>{{sum('total',unit_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('percentage',unit_kpi)/unit_kpi.length|number:'1.1-1'}} {{'Hour(s)'|dic}}</td>
                </tr>
                </tfoot>
                </table>
          </div>
          <br />

          <div class="row mt-3" *ngIf="!p.staff_id">
            <h6> {{'Total work per employee'|dic}}</h6>
            <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
            <table class="table table-striped table-hover table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
              <thead>
                <tr>
                  <th style="cursor: pointer" scope="col">{{ '#' }}</th>
                  <th>{{'Employee name'|dic}}</th>
                  <th>{{'Unit'|dic}}</th>
                  <th>{{'Work day(s)'|dic}}</th>
                  <th>{{'Timeoff'|dic}}</th>
                  <th>{{'Tickets'|dic}}</th>
                  <th>{{'Daily form'|dic}}</th>
                  <th>{{'Visits'|dic}}</th>
                  <th>{{'Work and activities'|dic}}</th>
                  <th>{{'Total hour(s)'|dic}}</th>
                  <th>{{'Percentage'|dic}}</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="searchStaff(el._id)" *ngFor="let el of employee_kpi; let i = index" style="cursor: pointer">
                  <td>{{ (i+1)}}</td>
                  <td>{{ el.full_name }}</td>
                  <td>{{ lang == 'ku'? el.unit_id?.name:el.unit_id?.en_name}}</td>
                  <td>{{ 365 - el.calendars - (el.timeoffs/8) |number:'1.1-1'  }} {{'Day(s)'|dic}}</td>
                  <td>{{ el.timeoffs|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.tickets|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.daily_form|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.visits|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.activity|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td>{{ el.total|number:'1.1-1' }} {{'Hour(s)'|dic}}</td>
                  <td [ngClass]="{'text-warning':el.percentage<6.5 && el.percentage>= 6,'text-green':el.percentage < 6, 'text-danger' :el.percentage>=6.5 }">{{ el.percentage|number:'1.1-1' }}
                    {{'Hour(s)'|dic}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr style="cursor: pointer">
                  <td colspan="3">{{'Total'|dic}}</td>
                  <td>{{sum('work_in_year',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('timeoffs',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('tickets',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('daily_form',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('visits',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('activity',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('total',employee_kpi)|number:'1.1-1'}}</td>
                  <td>{{sum('percentage',employee_kpi)/employee_kpi.length|number:'1.1-1'}} {{'Hour(s)'|dic}}</td>
                </tr>
              </tfoot>
              </table>
          </div>
          <br />

          <div class="row justify-content-center" *ngIf="working_days_per_year>0 && p.staff_id">
            <div class="col-xl-6 col-lg-9 col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3 staff-img">
                      <!-- <span class="img-tooltip card">
                        <img [src]="apiEndPoint+user?.profile_photo" class=" ">
                      </span> -->
                      <img [src]="apiEndPoint+user?.profile_photo" style="border-radius: 50%;" class="avatar avatar-xxl rounded-circle">
                    </div>
                    <div class="col-6">
                      <div class="mt-0 text-start">
                        <!-- <h5 class=""> {{'Total work in'|dic}}: {{working_days_per_year|number}} {{'Days'|dic}}</h5> -->
                        <h3 class="mb-0 mt-auto "
                          [ngClass]="{
                            'text-danger':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year >6.5,
                            'text-green':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year<6,
                            'text-yellow':((work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year)>=6 && 
                            (work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year<6.5}">
                          {{(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h + daily_form_for_user.h ) /  yearly_working_days| number:'1.1-2' }}</h3>
                        <span class="text-muted">
                          <span class=" fs-12 mt-2 me-1"
                            [ngClass]="{'text-danger':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year >6.5,
                            'text-green':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year<6,
                          'text-yellow':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year>= 6 && (work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year <6.5}">
                            <i class="feather  me-1  p-1 brround"
                              [ngClass]="{'bg-danger-transparent':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year >6.5,
                              'bg-success-transparent':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year<6,
                              'bg-yellow':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year>=6 && (work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year<6.5,
                              'feather-arrow-down-right':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year <6.5,'feather-arrow-up-right':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year>=6.5}"></i>{{(work_and_activity_for_user?.h
                            + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h |number)}}</span> {{'Hour(s)'|dic}} </span>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon1  my-auto  float-end"
                        [ngClass]="{'bg-danger':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year <5,'bg-success':(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h+daily_form_for_user.h ) / working_days_per_year>=5}">
                        <i class="feather feather-award"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="p.staff_id">
            <div class="col-12 row">

              <div class="card">
                <div class="card-header border-0 responsive-header">
                  <div class="card-title row mx-2">
                    <h5 *ngIf="p.month == 'all'">{{'Yearly work'|dic}} </h5>
                    <h5 *ngIf="p.month != 'all'">{{'Monthly work'|dic}} </h5>
                   
                  </div>
                  <div class="card-options">
                    <ng-select class="form-control custom-select select-month" [outline]="true" [clearable]="false" [multiple]="false" name="month" [(ngModel)]="p.month" (change)="changeMonth($event)">
                      <ng-option value="all">{{'All'|dic}}</ng-option>
                      <ng-option value="1">1</ng-option>
                      <ng-option value="2">2</ng-option>
                      <ng-option value="3">3</ng-option>
                      <ng-option value="4">4</ng-option>
                      <ng-option value="5">5</ng-option>
                      <ng-option value="6">6</ng-option>
                      <ng-option value="7">7</ng-option>
                      <ng-option value="8">8</ng-option>
                      <ng-option value="9">9</ng-option>
                      <ng-option value="10">10</ng-option>
                      <ng-option value="11">11</ng-option>
                      <ng-option value="12">12</ng-option>
                    </ng-select>
                    &nbsp;
                    <span *ngIf="p.month != 'all'">
                      <input  type="checkbox" name="leaves" id="leaves"n [(ngModel)]="p.leaves" (ngModelChange)="changeLeave($event)"> {{'Timeoff'|dic}}
                    </span>
                  </div>
                </div>
                <div class="mx-5 row">
                  <div  class=" d-flex mt-3"  style="justify-content: space-between;" *ngIf="p.month == 'all'"> 
                    <span >{{"Total working hour(s)"|dic}}: {{(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h + daily_form_for_user.h )  |number}} {{'Hour(s)'|dic}}</span> 
                    <span >{{"Average working hour(s)"|dic}}: {{(work_and_activity_for_user?.h + visit_for_user?.h + tickets_for_user?.h + daily_form_for_user.h ) /( yearly_working_days) |number}} {{'Hour(s)'|dic}}</span> 
                    <span >{{"Working day(s)"|dic}}: {{yearly_working_days - (yearly_leave/8)|number}} {{'Day(s)'|dic}}</span>
                    <span >{{"Holiday(s)"|dic}}: {{yearly_holidays|number}} {{'Day(s)'|dic}}</span>
                    <span >{{"Timeoff"|dic}}: {{yearly_leave|number}} {{'Hour(s)'|dic}}</span>
                  </div>
                  <div  class=" d-flex mt-3"  style="justify-content: space-between;" *ngIf="p.month != 'all'"> 
                    <span >{{"Total working hour(s)"|dic}}: {{monthly_work|number}} {{'Hour(s)'|dic}}</span> 
                    <span >{{"Average working hour(s)"|dic}}: {{monthly_avg|number}} {{'Hour(s)'|dic}}</span> 
                    <span >{{"Working day(s)"|dic}}: {{monthly_working_days- (monthly_leave/8)|number}} {{'Day(s)'|dic}}</span>
                    <span >{{"Holiday(s)"|dic}}: {{monthly_holidays|number}} {{'Day(s)'|dic}}</span>
                    <span >{{"Timeoff"|dic}}: {{monthly_leave|number}} {{'Hour(s)'|dic}}</span>
                  </div>
                </div>
                <div class="card-body">
               
                  <!-- <canvas id="chartLine" baseChart [data]="MultipleChartData" [options]="MultipleChartOptions" [type]="MultipleChartType">
                  </canvas> -->
                  <canvas id="chartLine"   *ngIf="p.month == 'all'" baseChart [data]="MultipleChartData" [options]="MultipleChartOptions" [type]="MultipleChartType">
                  </canvas>
                
                  <!-- <canvas baseChart [colors]="barChartColors"   [plugins]="barChartPlugins"  *ngIf="p.month != 'all'" [datasets]="barChartData" [colors]="barChartColors "
                  [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" 
                ></canvas> -->

         
                <canvas baseChart [datasets]="barChartData"  *ngIf="p.month != 'all'" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors"
                 ></canvas>

                </div>
              </div>
            </div>


          </div>
          <!-- <div class="row" *ngIf="p.staff_id">
            <div class="col-12 row">
              <div class="col-12 col-md-6">
                <h6 *ngIf="work_and_activity.length > 0"> {{'Total activity and works for'|dic}} {{user.full_name}}</h6>
                <div *ngIf="work_and_activity.length > 0" class="row mx-1 border p-2">
                  <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
                  <table stickyHeader="true" hover="true" striped="true" class="table-hover table-striped table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
                    <thead>
                      <tr>
                        <th style="cursor: pointer" scope="col">
                          {{ '#' }}
                        </th>
                        <th>
                          {{'Activity type'|dic}}
                        </th>
                        <th>
                          {{'Activity name'|dic}}
                        </th>
                        <th>
                          {{'Type'|dic}}
                        </th>
                        <th>
                          {{'Quantity'|dic}}
                        </th>
                        <th>
                          {{'Hour'|dic}}
                        </th>
                        <th>
                          {{'Percentage'|dic}}
                        </th>
        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of work_and_activity; let i = index" style="cursor: pointer">
                        <td>{{ (i+1)}}</td>

                        <td>
                          {{ el._id?.feild_type?.name }}
                        </td>
                        <td>
                          {{ el._id?.item?.name }}
                        </td>
                        <td>
                          <span *ngIf="el._id?.type"> {{ el._id?.type|dic }}</span>
                        </td>
                        <td>
                          {{el.quantity |number}}
                        </td>
                        <td>
                          {{el.h |number :'1.1-2'}}
                        </td>
                        <td class="black-text" style="font-weight: 600">
                          %{{el.y | number:'1.1-2'}}
                        </td>

                      </tr>
                    </tbody>
                    <tfoot>
                      <tr style="cursor: pointer">
                        <td colspan="4">
                          {{'Total'|dic}}
                        </td>
                        <td>
                          {{work_and_activity_for_user?.quantity }}
                        </td>
                        <td>
                          {{work_and_activity_for_user?.h | number:'1.1-2' }}
                        </td>
                        <td>
                          %{{work_and_activity_for_user?.y | number:'1.1-1' }}
                        </td>
                     
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <hr>

              </div>

              <div *ngIf="daily_forms.length > 0" class="row mx-1  border p-2">
                <h6 *ngIf="daily_forms.length > 0"> {{'Total daily form for'|dic}} {{user.full_name}}</h6>

                <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
                <table stickyHeader="true" hover="true" striped="true" class="table-hover table-striped table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
                  <thead>
                    <tr>
                      <th style="cursor: pointer" scope="col">
                        {{ '#' }}
                      </th>
                      <th>
                        {{'Company name'|dic}}
                      </th>
                      <th>
                        {{'Works'|dic}}
                      </th>
                      <th>
                        {{'Hour'|dic}}
                      </th>
                      <th>
                        {{'Percentage'|dic}}
                      </th>
                  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let el of daily_forms; let i = index" style="cursor: pointer">
                      <td>{{ (i+1)}}</td>

                      <td>
                        {{ el._id?.name }}
                      </td>
                      <td>
                        {{el.quantity |number}}
                      </td>
                      <td>
                        {{el.h |number :'1.1-2'}}
                      </td>
                      <td class="black-text" style="font-weight: 600">
                        %{{el.y_t | number:'1.1-2'}}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr style="cursor: pointer">
                      <td colspan="2">
                        {{'Total'|dic}}
                      </td>
                      <td>
                        {{daily_form_for_user?.quantity }}
                      </td>
                      <td>
                        {{daily_form_for_user?.h | number:'1.1-2' }}
                      </td>
                      <td>
                        %{{daily_form_for_user?.y_t | number:'1.1-1' }}
                      </td>
                
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="col-12 pt-3 col-md-6">
                <h6 *ngIf="visits.length > 0"> {{'Total visits for'|dic}} {{user.full_name}}</h6>
                <div *ngIf="visits.length > 0" class="row mx-1 border p-2">
                  <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
                  <table stickyHeader="true" hover="true" striped="true" class="table-hover table-striped table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
                    <thead>
                      <tr>
                        <th style="cursor: pointer" scope="col">
                          {{ '#' }}
                        </th>
                        <th>
                          {{'Company name'|dic}}
                        </th>
                        <th>
                          {{'Visits'|dic}}
                        </th>
                        <th>
                          {{'Hour'|dic}}
                        </th>
                        <th>
                          {{'Percentage'|dic}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of visits; let i = index" style="cursor: pointer">
                        <td>{{ (i+1)}}</td>

                        <td>
                          {{ el._id?.name }}
                        </td>
                        <td>
                          {{el.quantity |number}}
                        </td>
                        <td>
                          {{el.h |number :'1.1-2'}}
                        </td>
                        <td class="black-text" style="font-weight: 600">
                          %{{el.y | number:'1.1-2'}}
                        </td>
                       
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr style="cursor: pointer">
                        <td colspan="2">
                          {{'Total'|dic}}
                        </td>
                        <td>
                          {{visit_for_user?.quantity }}
                        </td>
                        <td>
                          {{visit_for_user?.h | number:'1.1-2' }}
                        </td>
                        <td>
                          %{{visit_for_user?.y | number:'1.1-1' }}
                        </td>
               
                      </tr>
                    </tfoot>
                  </table>
                </div>

              </div>
              <div class="col-12" *ngIf="tickets_chart.length > 0">
                <h6>{{'Total ticket hours working by company for'|dic}} {{user.full_name}}</h6>
                <div class="row mx-1">
                  <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
                  <table stickyHeader="true" hover="true" striped="true" class="table-hover table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
                    <thead>
                      <tr>
                        <th style="cursor: pointer" scope="col">
                          {{ '#' }}
                        </th>
                        <th>
                          {{'Company name'|dic}}
                        </th>

                        <th>
                          {{'Hour'|dic}}
                        </th>
                        <th>
                          {{'Percentage'|dic}}
                        </th>
         
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of tickets_chart; let i = index" style="cursor: pointer">
                        <td>{{ (i+1)}}</td>
                        <td>
                          {{ el.company }}
                        </td>

                        <td>
                          {{el.h |number :'1.1-2'}}
                        </td>
                        <td class="black-text" style="font-weight: 600">
                          %{{el.y | number:'1.1-2'}}
                        </td>
              
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr style="cursor: pointer">
                        <td colspan="2">
                          {{'Total'|dic}}
                        </td>
                        <td>
                          {{tickets_for_user?.h | number:'1.1-2' }}
                        </td>
                        <td>
                          %{{tickets_for_user?.y | number:'1.1-1' }}
                        </td>
  
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="col-12" *ngIf="tickets.length > 0">
                <h4 class="card-title">
                  <h6>{{'Chart'|dic}} - {{'Total ticket hours working for'|dic}} {{user.full_name}}</h6>
                </h4>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartTickets" style="width: 100%; height: 650px; display: block;">
                </highcharts-chart>
              </div>
            </div>
            <div class="col-12" *ngIf="tickets.length > 0">
              <h6>{{'Total ticket hours working for'|dic}} {{user.full_name}}</h6>
              <div class="row mx-1 border p-2">
                <app-bas-page_loader *ngIf="DataIsLoading"></app-bas-page_loader>
                <table stickyHeader="true" hover="true" striped="true" class="table-hover table-striped table-responsive-md z-depth-1" *ngIf="!DataIsLoading">
                  <thead>
                    <tr>
                      <th style="cursor: pointer" scope="col">
                        {{ '#' }}
                      </th>
                      <th>
                        {{'Company name'|dic}}
                      </th>
                      <th>
                        {{'IT field'|dic}}
                      </th>
                      <th>
                        {{'Field type'|dic}}
                      </th>
                      <th>
                        {{'Item'|dic}}
                      </th>
                      <th>
                        {{'Hour'|dic}}
                      </th>
                      <th>
                        {{'Percentage'|dic}}
                      </th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let el of tickets; let i = index" style="cursor: pointer">
                      <td>{{ (i+1)}}</td>
                      <td>
                        {{ el.company }}
                      </td>
                      <td>
                        {{ el.feild }}
                      </td>
                      <td>
                        {{ el.feild_type }}
                      </td>
                      <td>
                        {{ el.item }}
                      </td>
                      <td>
                        {{el.h |number :'1.1-2'}}
                      </td>
                      <td class="black-text" style="font-weight: 600">
                        %{{el.y | number:'1.1-2'}}
                      </td>
                 </tr>
                  </tbody>
                  <tfoot>
                    <tr style="cursor: pointer">
                      <td colspan="5">
                        {{'Total'|dic}}
                      </td>
                      <td>
                        {{tickets_for_user?.h | number:'1.1-2' }}
                      </td>
                      <td>
                        %{{tickets_for_user?.y | number:'1.1-1' }}
                      </td>
                     </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div> -->
              </div>
    </div>
  </div>
</div>