<app-bas-page-header [title]="'Logs'" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>

<div class=" row mt-2 p-4">

    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">{{'From'|dic}}
                <span class="text-red"></span>
            </label>
            <input type="datetime-local" class="form-control" [(ngModel)]="params.from">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">{{'To'|dic}}
                <span class="text-red"></span>
            </label>
            <input type="datetime-local" class="form-control" [(ngModel)]="params.to">
        </div>
    </div>
    <div class="col-2">
        <div class="form-group"> <a class="btn btn-cyan text-white me-2 mt-5" (click)="search()">{{'Search'|dic}} </a>
        </div>
    </div>
</div>

<app-data-table-tailwind [url]="url" [customForm]="modalForm" [insertForm]="insertForm" [actionRoute]="'logs'" [params]="params" [pg_header]="pg_header" [columns]="columns" [titlePage]="titlePage">
</app-data-table-tailwind>