<app-bas-page-header [title]="'Permissions'" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4>{{user?.full_name}}</h4>
    </div>
  </div>
  <div class="card-body">
    <div class=" row d-flex ">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row mx-1">
          <table class="table table-striped table-hover table-responsive-md z-depth-1">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" class="mb-3 " [(ngModel)]="allIsSelected" [name]="allIsSelected" [value]="allIsSelected" (change)="selectAll($event)">
                </th>
                <th *ngFor="let head of headElements; let i = index" style="background-color: transparent;" scope="col">{{head|dic}}
                </th>
              </tr>
            </thead>
            <tbody #row class=" ">
              <tr *ngFor="let item of tableData;index as i">
                <td>
                  <input type="checkbox" class="mb-3 " [(ngModel)]="item.company_status" [name]="item.company_status" [value]="item.company_status" (change)="change($event, item,i)">
                </td>
                <td>{{item.name }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>