<app-bas-page-header [title]="titlePage" [routes]="bercumberRoutes" [actions]="actions"></app-bas-page-header>
 
<div class="row">
  <div class="card">
    <div class="card-header">
      <div class="card-title">{{titlePage|dic}}</div>
    </div>

    <div class="card-body">

        <div class="row">
          <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
          style="width: 99%; height: 400px; display: block;"></highcharts-chart>
    
        </div>

    </div>
    <div class="card-body" >
      <div class="row" >
        

          <div class="form-group col-12 col-md-6 col-lg-3">
              <label class="form-label">{{'Date'|dic}}</label>
              <input type="date" class="form-control" [(ngModel)]="model.date" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="col-md-3">
              <a (click)="search()" class=" btn btn-success mt-5 me-4">
                  <i class="fa fa-search"></i>
              </a>
              <!-- <a (click)="clearFilter()" class=" btn btn-danger mt-5 me-4">
                  <i class="fa fa-trash-o"></i>
              </a> -->
          </div>
      </div>
   </div>


   <table  class="table mb-0 text-nowrap">
    <thead>
      <tr>
        <th class="text-center "><h6>{{'#'|dic}}</h6></th>
        <th class="text-center "><h6>{{'Brick name'|dic}}</h6></th>
        <th class="text-center "><h6>{{'Line'|dic}}</h6></th>
        <th class="text-center " ><h6>{{'Orders'|dic}}</h6></th>
        <th class="text-center " ><h6>{{'Production'|dic}}</h6></th>
        <th class="text-center "  ><h6>{{'Quantity'|dic}}</h6></th>
      </tr>
    </thead>
    <tbody>
        <tr class="border-bottom" *ngFor="let el of data;let i = index">
          <td class="text-center">
            {{(i+1)}}
          </td>

          <td class="text-center" >
            {{el.brick_name}}
          </td>
          <td class="text-center" >
            {{el.line}}
          </td>
          <td class="text-center" >
           <h6> {{el.orders|number}}</h6>
          </td>
          <td class="text-center" >
            <h6>{{el.product|number}}</h6>
          </td>
         
          <td class="text-center" >
            {{el.deff|number}}
          </td>

        </tr>
    </tbody>
    <!-- <tfoot>
      <tr>
        <td colspan="2" class="text-center">
          <h6> {{'Total'|dic}}</h6>
        </td>
        <td class="text-center text-secondary"  >
          <h6>#{{total?.orders|number}}</h6>
        </td>
        <td class="text-center">
          <h6>{{total?.tons|number:'1.0-0'}}</h6>
        </td>
        <td class="text-center">
          <h6> {{total?.qty|number}}</h6>
        </td>
        <td class="text-center text-primary font-weight-semibold fs-14"  >
          {{total?.price|number}} 
        </td>
      </tr>
    </tfoot> -->
    
</table>
 
</div>